.ipynb_checkpoints/
.vscode/
Player.py
Cell.py
Board.py
Ship.py
Shipyard.py
submission_base.py
intro.ipynb
halite-sdk-overview.ipynb
submission.py
halite-template-bot.ipynb
kaggle_environments/
.idea/
vnv/
